#!/bin/bash

{% set PREROUTING_chain = 'nat_vm-' + inventory_hostname + '_PREROUTING' %}
{% set INPUT_chain = 'nat_vm-' + inventory_hostname + '_INPUT' %}
{% set OUTPUT_chain = 'nat_vm-' + inventory_hostname + '_OUTPUT' %}

## Détricote ce qui a pu être fait avant
# Supprime le passage obligé par les chaines nat_vm-{{ inventory_hostname }}
iptables -t nat -D PREROUTING -j {{ PREROUTING_chain }}
iptables -t filter -D INPUT -j {{ INPUT_chain }}
iptables -t filter -D OUTPUT -j {{ OUTPUT_chain }}

# Flush et supprime les chaines de traitement
iptables -t nat -F {{ PREROUTING_chain }}
iptables -t filter -F {{ INPUT_chain }}
iptables -t filter -F {{ OUTPUT_chain }}
iptables -t nat -X {{ PREROUTING_chain }}
iptables -t filter -X {{ INPUT_chain }}
iptables -t filter -X {{ OUTPUT_chain }}

# Crée les chaines de traitement
iptables -t nat -N {{ PREROUTING_chain }}
iptables -t filter -N {{ INPUT_chain }}
iptables -t filter -N {{ OUTPUT_chain }}

{% for in_port, config in nat_redirect_tcp|dictsort %}
{%   if config.vm == inventory_hostname %}
{% set nat_rule = [PREROUTING_chain, '-i', ansible_default_ipv4.interface, '-p', config.proto|default("tcp"), '--dport', in_port|string, '-j DNAT --to', vm_ip + ':' + config.port|string]|join(' ') %}
{% set input_rule = [INPUT_chain, '-i', ansible_default_ipv4.interface, '-p', config.proto|default("tcp"), '--dport', in_port|string, '-j ACCEPT']|join(' ') %}
{% set output_rule = [OUTPUT_chain, '-p', config.proto|default("tcp"), '--dport', in_port|string, '-j ACCEPT']|join(' ') %}
iptables -t nat -C {{ nat_rule }} || iptables -t nat -A {{ nat_rule }}
iptables -t filter -C {{ input_rule }} || iptables -t filter -A {{ input_rule }}
iptables -t filter -C {{ output_rule }} || iptables -t filter -A {{ output_rule }}
{%   endif %}
{% endfor %}

## Met en place les règles
# Retourne finalement à la chaine principale
iptables -t nat -C {{ PREROUTING_chain }} -j RETURN || iptables -t nat -A {{ PREROUTING_chain }} -j RETURN
iptables -t filter -C {{ INPUT_chain }} -j RETURN || iptables -t filter -A {{ INPUT_chain }} -j RETURN
iptables -t filter -C {{ OUTPUT_chain }} -j RETURN || iptables -t filter -A {{ OUTPUT_chain }} -j RETURN

# Ajoute un passage obligé par les chaines nat_vm-{{ inventory_hostname }}
iptables -t nat -C PREROUTING -j {{ PREROUTING_chain }} || iptables -t nat -A PREROUTING -j {{ PREROUTING_chain }}
iptables -t filter -C INPUT -j {{ INPUT_chain }} || iptables -t filter -A INPUT -j {{ INPUT_chain }}
iptables -t filter -C OUTPUT -j {{ OUTPUT_chain }} || iptables -t filter -A OUTPUT -j {{ OUTPUT_chain }}
