#!/bin/sh

# Réinitialise les règles
iptables -t filter -F
iptables -t filter -X

# Autorise les connexions déjà établies et localhost
iptables -C INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT || iptables -A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -C OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT || iptables -A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -C INPUT -i lo -j ACCEPT || iptables -t filter -A INPUT -i lo -j ACCEPT
iptables -C OUTPUT -o lo -j ACCEPT || iptables -t filter -A OUTPUT -o lo -j ACCEPT



# NTP (horloge du serveur)
iptables -C OUTPUT -p udp --dport 123 -j ACCEPT || iptables -t filter -A OUTPUT -p udp --dport 123 -j ACCEPT

# ICMP (Ping)
iptables -C INPUT -p icmp -j ACCEPT || iptables -t filter -A INPUT -p icmp -j ACCEPT
iptables -C OUTPUT -p icmp -j ACCEPT || iptables -t filter -A OUTPUT -p icmp -j ACCEPT

# DNS
iptables -C OUTPUT -p tcp --dport 53 -j ACCEPT || iptables -t filter -A OUTPUT -p tcp --dport 53 -j ACCEPT
iptables -C OUTPUT -p udp --dport 53 -j ACCEPT || iptables -t filter -A OUTPUT -p udp --dport 53 -j ACCEPT
iptables -C INPUT -p tcp --dport 53 -j ACCEPT || iptables -t filter -A INPUT -p tcp --dport 53 -j ACCEPT
iptables -C INPUT -p udp --dport 53 -j ACCEPT || iptables -t filter -A INPUT -p udp --dport 53 -j ACCEPT


{% for port, config in exposed_ports.items() %}
iptables -C INPUT -p {{ config.prot }} --dport {{ port }} -j ACCEPT || iptables -t filter -A INPUT -p {{ config.prot }} --dport {{ port }} -j ACCEPT
iptables -C OUTPUT -p {{ config.prot }} --dport {{ port }} -j ACCEPT || iptables -t filter -A OUTPUT -p {{ config.prot }} --dport {{ port }} -j ACCEPT
{% endfor %}

# Bloque tout le trafic
iptables -t filter -P INPUT DROP
iptables -t filter -P FORWARD ACCEPT
iptables -t filter -P OUTPUT DROP
