# {{ ansible_managed }}

auto br0
iface br0 inet static
    address 192.168.0.1
    netmask 255.255.255.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    post-up echo 1 > /proc/sys/net/ipv4/ip_forward
    post-up iptables -t nat -N br0_POSTROUTING
    post-up iptables -t nat -A br0_POSTROUTING -s 192.168.0.0/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
    post-up iptables -t nat -A POSTROUTING -j br0_POSTROUTING
    post-down iptables -t nat -D POSTROUTING -j br0_POSTROUTING
    post-down iptables -t nat -F br0_POSTROUTING
    post-down iptables -t nat -X br0_POSTROUTING
