#!/bin/bash

{% if firewall_ruleset_name is defined %}
{% set INPUT_chain = 'firewall_' + firewall_ruleset_name + '_INPUT' %}
{% set FORWARD_chain = 'firewall_' + firewall_ruleset_name + '_FORWARD' %}
{% set OUTPUT_chain = 'firewall_' + firewall_ruleset_name + '_OUTPUT' %}
{% else %}
{% set INPUT_chain = 'firewall_INPUT' %}
{% set FORWARD_chain = 'firewall_FORWARD' %}
{% set OUTPUT_chain = 'firewall_OUTPUT' %}
{% endif %}

## Détricote ce qui a pu être fait avant
# Débloque les traffics entrant et sortants
iptables -t filter -P INPUT ACCEPT
iptables -t filter -P FORWARD ACCEPT
iptables -t filter -P OUTPUT ACCEPT

# Supprime le passage obligé par les chaines firewall
iptables -t filter -D INPUT -j {{ INPUT_chain }}
iptables -t filter -D FORWARD -j {{ FORWARD_chain }}
iptables -t filter -D OUTPUT -j {{ OUTPUT_chain }}

# Flush et supprime les chaines de traitement
iptables -t filter -F {{ INPUT_chain }}
iptables -t filter -F {{ FORWARD_chain }}
iptables -t filter -F {{ OUTPUT_chain }}
iptables -t filter -X {{ INPUT_chain }}
iptables -t filter -X {{ FORWARD_chain }}
iptables -t filter -X {{ OUTPUT_chain }}

# Crée les chaines de traitement
iptables -t filter -N {{ INPUT_chain }}
iptables -t filter -N {{ FORWARD_chain }}
iptables -t filter -N {{ OUTPUT_chain }}

## Met en place les règles
# Autorise les connexions déjà établies et localhost
iptables -t filter -C {{ INPUT_chain }} -m state --state RELATED,ESTABLISHED -j ACCEPT || iptables -A {{ INPUT_chain }} -m state --state RELATED,ESTABLISHED -j ACCEPT
# iptables -t filter -C {{ OUTPUT_chain }} -m state --state RELATED,ESTABLISHED -j ACCEPT || iptables -A {{ OUTPUT_chain }} -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -t filter -C {{ INPUT_chain }} -i lo -j ACCEPT || iptables -t filter -A {{ INPUT_chain }} -i lo -j ACCEPT
# iptables -t filter -C {{ OUTPUT_chain }} -o lo -j ACCEPT || iptables -t filter -A {{ OUTPUT_chain }} -o lo -j ACCEPT

# Ouvre les ports exposés
{% for port, config in firewall_exposed_ports|dictsort %}
{% for proto in config.protos|default(["tcp"]) %}
iptables -t filter -C {{ INPUT_chain }} -p {{ proto }} --dport {{ port }} -j ACCEPT || iptables -t filter -A {{ INPUT_chain }} -p {{ proto }} --dport {{ port }} -j ACCEPT
# iptables -t filter -C {{ OUTPUT_chain }} -p {{ proto }} --sport {{ port }} -j ACCEPT || iptables -t filter -A {{ OUTPUT_chain }} -p {{ proto }} --sport {{ port }} -j ACCEPT
{% endfor %}
{% endfor %}


# Retourne finalement à la chaine principale
iptables -t filter -C {{ INPUT_chain }} -j RETURN || iptables -t filter -A {{ INPUT_chain }} -j RETURN
iptables -t filter -C {{ FORWARD_chain }} -j RETURN || iptables -t filter -A {{ FORWARD_chain }} -j RETURN
iptables -t filter -C {{ OUTPUT_chain }} -j RETURN || iptables -t filter -A {{ OUTPUT_chain }} -j RETURN

# Ajoute un passage obligé par les chaines firewall
iptables -t filter -C INPUT -j {{ INPUT_chain }} || iptables -t filter -A INPUT -j {{ INPUT_chain }}
iptables -t filter -C FORWARD -j {{ FORWARD_chain }} || iptables -t filter -A FORWARD -j {{ FORWARD_chain }}
iptables -t filter -C OUTPUT -j {{ OUTPUT_chain }} || iptables -t filter -A OUTPUT -j {{ OUTPUT_chain }}


# Bloque tout le trafic entrant et sortant
iptables -t filter -P INPUT DROP
# iptables -t filter -P OUTPUT DROP
